Functions in Python

Course Outline:

1. Introduction to Functions

2. Defining Functions

3. Calling Functions

4. Function Parameters

5. Default Parameters

6. Variable-Length Arguments

7. Return Statement

Introduction to Functions

Definition:

A function is a block of code that performs a specific task. Functions help in organizing code, reusing code, and improving readability.

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

In [3]:
## syntax
def function_name(parameters):
    """Docstring"""
    # Function body
    return expression

In [1]:
def Addition(a,b):
    c = a + b
    return c

Addition(1,2)

3

In [4]:
def my_first_function():
    print("This is my first function in python.")
    
my_first_function()

This is my first function in python.

In [5]:
# function with name add and parameters-(a,b,c)
def add(a,b,c):
    print(a+b+c)
    
# calling the same add function with arguments-(10,15,25)
add(10,15,25)

50

In [6]:
#  passing less args(arguments) will provide TypeError
# add(1,2)

In [7]:
## why functions?
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [9]:
# def even_or_odd(num):
#     """This function finds even or odd"""
#     if num%2==0:
#         print("the number is even")
#     else:
#         print("the number is odd")


def even_or_odd(Number):
    if Number%2==0:
        print(f"The {Number} is even.")
    else:
        print(f"The {Number} is odd.")
        
## Call this function
even_or_odd(198)

The 198 is even.

In [10]:
## function with multiple parameters

def add(a,b):
    return a+b

result = add(2,4)
print(result)

6

In [12]:
add(3,0)

3

Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [13]:
#  creating a function with *args
def my_function(*kids):
  print(f"The youngest child is {kids[2]}." )


# calling a function with multiple variables 
my_function("Emil", "Tobias", "Linus", 'Rishi')

The youngest child is Linus.

In [14]:
#  creating a function with *args
def my_function(*kids):
  print(f"The youngest child is {kids}." )


# calling a function with multiple variables 
my_function("Emil", "Tobias", "Linus", 'Rishi')

The youngest child is ('Emil', 'Tobias', 'Linus', 'Rishi').

In [16]:
## Default Parameters

def greet(name):
    print(f"Hello {name} Welcome To the paradise.")



# greet()
greet("Ankul")

Hello Ankul Welcome To the paradise.

In [17]:
def greet(name="Guest"):
    print(f"Hello {name} Welcome To the paradise")

# greet("Amit")
greet()

Hello Guest Welcome To the paradise

In [19]:
def my_function(**kid):
  print("His last name is " + kid["n_name"])

my_function(fname = "Tobias", lname = "Refsnes", n_name= 'Ankul')

His last name is Ankul

In [23]:
### Variable Length Arguments
## Positional And Keywords arguments

def print_numbers(*Amit):
    for number in Amit:
        print(number)
        
print_numbers(1,2,3,4,5,6,7,8,9,10,"Amit")

1
2
3
4
5
6
7
8
9
10
Amit

In [28]:
## Positional arguments
def print_numbers(*args):
    for number in args:
        print(number)
print_numbers("Abhishek",1,2,3,4,5,6,7,8)

Abhishek
1
2
3
4
5
6
7
8

In [30]:
### Keywords Arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")
        
print_details(name="Ankul",age="25", city="Gurugram", country="India")

name:Ankul
age:25
city:Gurugram
country:India

In [32]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional argument :{val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")
        
print_details(1,2,3,4,"Ankul", name="Ankul", age="25", country="India")

 Positional argument :1
 Positional argument :2
 Positional argument :3
 Positional argument :4
 Positional argument :Ankul
name:Ankul
age:25
country:India

In [33]:
even_or_odd(1009)

The 1009 is odd.

In [34]:
### Return statements
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [35]:
### Return multiple parameters
def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)

In [36]:
add(5, 25)

30