Lambda Functions in Python:

Lambda functions are small anonymous functions defined using the lambda keyword. They can have any number of arguments but only one expression. They are commonly used for short operations or as arguments to higher-order functions.

In [1]:
#Syntax
lambda arguments: expression

In [3]:
def addition(a,b):
    return a+b

addition(2,3)

5

In [4]:
addition=lambda a,b:a+b
type(addition)
print(addition(5,6))

11

In [5]:
def even(num):
    if num%2==0:
        return True
    else:
        return False
    
even(24)
# even(57)

True

In [9]:
even1= lambda num:num%2==0
even1(12)

True

In [10]:
even(13)

False

In [11]:
def addition(x,y,z):
    return x+y+z

addition(12,13,14)

39

In [12]:
addition1=lambda x,y,z:x+y+z
addition1(12,13,14)

39

In [13]:
# power of lambda when used inside a function

def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

my_tripler = myfunc(3)

print(mydoubler(11))
print(my_tripler(11))

22
33

In [14]:
## map()- applies a function to all items in a list
numbers=[1,2,3,4,5,6]
def square(number):
    return number**2

square(2)

4

In [15]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

In [16]:
tup_1 = (1, 2.5, 2, 3, 4, 5, 16)

list(map(lambda a:a**3,tup_1))

[1, 15.625, 8, 27, 64, 125, 4096]