DataTypes

1. Definition:

Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

2. Importance of Data Types in Programming
Explanation:

1.Data types ensure that data is stored in an efficient way.
2.They help in performing correct operations on data.
3.Proper use of data types can prevent errors and bugs in the program.

Outline:

1.Introduction to Data Types
2.Importance of Data Types in Programming
3.Basic Data Types
Integers
Floating-point numbers
Strings
Booleans
4.Advanced Data Types
Lists
Tuples
Sets
Dictionaries
5.Type Conversion
6.Practical Examples

In [35]:
## Integer example
age = 25
print(type(age))

<class 'int'>

In [36]:
age = complex(age)
print(age)
type(age)

(25+0j)

complex

In [37]:
b = 2 + 3j

# type(b)

# c = int(b)
# print(c)


# d = float(b)

d = 5.9
print(type(d))
d=complex(d)
print(d)

<class 'float'>
(5.9+0j)

In [38]:
## Floating point data type
height  = 5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [39]:
## String datatype example
name = "Abhishek"
Name = 'Ankur'
name_1 = """Rishi"""

print(name)
print(type(name))

print(Name)
print(type(Name))

print(name_1)
print(type(name_1))

Abhishek
<class 'str'>
Ankur
<class 'str'>
Rishi
<class 'str'>

In [40]:
## String datatype example
is_true = True
is_false = False
print(type(is_true))
print(type(is_false))
print(is_true)
print(is_false)

<class 'bool'>
<class 'bool'>
True
False

In [41]:
a = 10
b = 10

# type(a==b)

print(a == b)
print(type(a==b))

True
<class 'bool'>

In [42]:
# Common error
result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
# result = "Hello" + str(5)
result = "Hello" + '5'
print(result)

Hello5

In [ ]:
# id(height) # Uncomment to this line to get neame error
id(age)

1847145690736

In [ ]:
z = 19

In [ ]:
type(z)

int

In [ ]:
z

19

In [ ]:
19

19

In [ ]:
z = float(z)
print(z)

19.0

In [ ]:
z = str(z)
print(z)

19.0

In [ ]:
x = "hello"
print(type(x))

<class 'str'>

In [ ]:
x = int(x)

ValueError: invalid literal for int() with base 10: 'hello'

In [ ]:
import random
print(random.randrange(1, 10))

7

In [ ]:
print("it's alright")
print("He is called 'Johnny'")
print(len('He is called "Johnny"'))

it's alright
He is called 'Johnny'
21

In [ ]:
name = 'Ankur'
print(len(name))

5

In [ ]:
txt = "The best thing in life are free!"
print("expensive" not in txt)
print("life" not in txt)

True
False

In [ ]:
name = "Ankul"

In [ ]:
# [Start:End]  --> include start and exclude the end

In [ ]:
# +ve indexing  --> left to right
name[0:3]

'Ank'

In [ ]:
name[:]

'Ankul'

In [ ]:
b = "Hello World"
print(b[2:])

llo World

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [44]:
name_1 = "Ankur"
print(name_1.upper())

ANKUR

In [46]:
name_1 = "AnkUR"
print(name_1.lower())

ankur

In [47]:
a = "   Hello, World!"
print(a)

print(a.strip())

   Hello, World!
Hello, World!

In [48]:
a = "Hello, World!"
print(a.replace("H", "Y"))

Yello, World!

In [49]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [51]:
a = "Hello, World! Ankul"
print(a.split(" "))

['Hello,', 'World!', 'Ankul']

In [54]:
a = "Ankul"
b = " Singh"
d = a+b
print(d)

Ankul Singh

In [55]:
d = a+" "+b
print(d)

Ankul  Singh

f"{variabe,operation}"  ---f-string

In [57]:
txt = f"My name is {d} and I'm {20+5} year old"
print(txt)

My name is Ankul  Singh and I'm 25 year old

In [59]:
result = f"hello + 5"

In [60]:
result

'hello + 5'

In [62]:
pi = 22/7
print(pi)

3.142857142857143

In [63]:
f"one third , expressed as a float is: {1 / 3}"

'one third , expressed as a float is: 0.3333333333333333'

In [65]:
# txt = "we are the so-called "viking" from the north."
txt = "we are so-called 'viking' from the north"
print(txt)

we are so-called 'viking' from the north

In [66]:
txt = "we are so-called \'viking'\ from the north"
print(txt)

we are so-called 'viking'\ from the north

<>:1: SyntaxWarning: invalid escape sequence '\ '
<>:1: SyntaxWarning: invalid escape sequence '\ '
C:\Users\ankul\AppData\Local\Temp\ipykernel_16204\3922961865.py:1: SyntaxWarning: invalid escape sequence '\ '
  txt = "we are so-called \'viking'\ from the north"

In [67]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False