In [1]:
Name = "Abhishek"

Age = 30

type(Age)

int

In [4]:
msg = "My name is "+Name+"and my age is "+ str(Age)
print(msg)

My name is Abhishekand my age is 30

In [7]:
Maths = 90
English = 85
Social_Science = 88
Science = 92

In [8]:
Report = "Hi guys my marks in Maths are " + str(Maths) + " in English it is " + str(English) + " in Social Science it is " + str(Social_Science) + " in Science it is " + str(Science)
print(Report)

Hi guys my marks in Maths are 90 in English it is 85 in Social Science it is 88 in Science it is 92


f- strings == f"{Placeholder}or{Modifiers} what can you keep is {Var_name} "

-- f-strings is used for formatting strings.

In [9]:
Report = f"Hi guys my marks in maths is {Maths}, and in english it is {English}, also I got {Science} in Science."

In [10]:
Report

'Hi guys my marks in maths is 90, and in english it is 85, also I got 92 in Science.'

In [11]:

mag = f"My name is {Name} and my age is {Age}."
print(mag)

My name is Abhishek and my age is 30.

In [14]:
old_price = 50
txt = f"The new price is {old_price+5}"
print(txt)

The new price is 55

In [15]:
# 59.00
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [16]:

msg = "I am an "AI" Engineer"
msg

SyntaxError: invalid syntax (3693500954.py, line 1)

In [17]:
# Way - 1
msg = "I am a \"AI\" enginner"
print(msg)

I am a "AI" enginner

In [18]:
msg = 'I am a "AI" enginner'
print(msg)

I am a "AI" enginner

In [20]:
txt = "Hello everyon \nI learn\npython"
print(txt)

Hello everyon
I learn
python

In [21]:
msg = "I am Ankur\nI am an AI developer"

print(msg)

I am Ankur
I am an AI developer

In [22]:
a = "ankur"
print(a.capitalize())

Ankur

In [23]:

b = "Hello, World!"
print(b[:5])

Hello

In [1]:
name = "   Ankul     singh   "
print(name)

   Ankul     singh

In [2]:
name.strip()

'Ankul     singh'