## Handling and Missing data (dropna & fillna)

In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ankul\Downloads\null.csve.csv")
df

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,NaN
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,NaN,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,NaN
9,Swelect Energy System Limited,NaN,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,NaN
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,NaN,NaN,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,Alkalis Metals Limited,157496.0,19069.0,8.563313
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [2]:
## dropna method is used for delete a NaN rows
df.dropna()

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,Alkalis Metals Limited,157496.0,19069.0,8.563313
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [3]:
## dropna method delete to columns usin axis=1 method
df.dropna(axis=1)

                                    SECURITY
0                               Electrotherm
1        N. B. I. Industrial Finance Company
2                    Hindcon Private Limited
3                                GKW Limited
4            21st Century Management Service
5                  Alphageo (India) Limited
6                Uniphos Enterprised Limited
7           Jagsonpal Pharmaceutical Limited
8   SKM Egg Products Exportsn(India) Limited
9              Swelect Energy System Limited
10                   Nahar Poly Film Limited
11            Poddar Housing and Development
12                              Linc Limited
13                       Shiva Mills Limited
14           Pudumjee Paper Products Limited
15                Dynacons System & Solution
16           Andrew Yule & Company & Limited
17                     Laxmi Costpin Limited
18          Rudrabhishek Enterprises Limited
19             PIL ITALICA LIFESTYLE LIMITED
20            Bhagyanagar Properties Limited
21            Munjal Auto Industries Limited
22                    Alkalis Metals Limited
23              Intense Technologies Limited
24       Indo Rama Synthetic (India) Limited

In [6]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ankul\Downloads\null.csveee.csv")
df

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,NaN
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,NaN,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,NaN
9,Swelect Energy System Limited,NaN,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,NaN
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,NaN,NaN,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,NaN,NaN,NaN,NaN
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [ ]:
## how=all parameter only use when all the rows or column are Null(Nan) the can remevoe it.
df.dropna(how='all')

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,NaN
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,NaN,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,NaN
9,Swelect Energy System Limited,NaN,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,NaN
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,NaN,NaN,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [9]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ankul\Downloads\null.csveee.csv")
df

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,NaN
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,NaN,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,NaN
9,Swelect Energy System Limited,NaN,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,NaN
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,NaN,NaN,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,NaN,NaN,NaN,NaN
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [10]:
df.dropna(subset=['CHANGE'])

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,NaN,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
9,Swelect Energy System Limited,NaN,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,NaN,NaN,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [12]:
## inplace=True it create new parameter
df.dropna(inplace=True)
df

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [17]:
## thresh parameter romove if there is a single null value and you want to remove it give threse=1.
df.dropna(thresh=1)

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [19]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ankul\Downloads\null.csveee.csv")
df

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,NaN
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,NaN,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,NaN
9,Swelect Energy System Limited,NaN,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,NaN
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,NaN,NaN,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,NaN,NaN,NaN,NaN
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [20]:
df.fillna("python")

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.95345
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,python
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,python,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.80142
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,python
9,Swelect Energy System Limited,python,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,python
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,python,python,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,python
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,python,python,python,python
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [21]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ankul\Downloads\null.csveee.csv")
df

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,NaN
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,NaN,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,NaN
9,Swelect Energy System Limited,NaN,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,NaN
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,NaN,NaN,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,NaN,NaN,NaN,NaN
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [24]:
df.fillna({"SECURITY":"Python","TODAY - VILUME":"Java", "AVG - VOLUME":"C"})

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,NaN
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,C,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,NaN
9,Swelect Energy System Limited,Java,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,NaN
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,Java,C,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,Python,Java,C,NaN
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [26]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ankul\Downloads\null.csveee.csv")
df

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,NaN
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,NaN,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,NaN
9,Swelect Energy System Limited,NaN,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,NaN
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,NaN,NaN,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,NaN,NaN,NaN,NaN
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [ ]:
## metho=ffill is know as forward filling it copy the above data
df.fillna(method="ffill")

C:\Users\ankul\AppData\Local\Temp\ipykernel_33972\3944122520.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill")

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,30.049203
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,8356.0,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,17.801420
9,Swelect Energy System Limited,1541130.0,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,14.853673
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,2408026.0,230048.0,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,10.017751
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [28]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ankul\Downloads\null.csveee.csv")
df

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,NaN
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,NaN,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,NaN
9,Swelect Energy System Limited,NaN,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,NaN
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,NaN,NaN,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,NaN,NaN,NaN,NaN
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [ ]:
## metho=bfill is know as backward filling it copy the below data automatically.
df.fillna(method="bfill")

C:\Users\ankul\AppData\Local\Temp\ipykernel_33972\942181770.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="bfill")

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,27.852613
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,73134.0,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,16.938733
9,Swelect Energy System Limited,600043.0,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,12.892143
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,660281.0,65700.0,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,8.569312
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,Intense Technologies Limited,1252606.0,164644.0,7.607959
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [30]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ankul\Downloads\null.csveee.csv")
df

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,NaN
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,NaN,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,NaN
9,Swelect Energy System Limited,NaN,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,NaN
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,NaN,NaN,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,NaN,NaN,NaN,NaN
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [34]:
df.fillna(method="bfill", axis=1)

C:\Users\ankul\AppData\Local\Temp\ipykernel_33972\177786797.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="bfill", axis=1)
C:\Users\ankul\AppData\Local\Temp\ipykernel_33972\177786797.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.fillna(method="bfill", axis=1)

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.95345
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,NaN
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,21.528002,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.80142
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,NaN
9,Swelect Energy System Limited,12276.0,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,NaN
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,10.443312,10.443312,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,NaN,NaN,NaN,NaN
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [37]:
df.fillna(12,inplace=True)

In [38]:
df

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,12.000000
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,12.0,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,12.000000
9,Swelect Energy System Limited,12.0,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,12.000000
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,12.0,12.0,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,12.000000
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,12,12.0,12.0,12.000000
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [39]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ankul\Downloads\null.csveee.csv")
df

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.953450
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,NaN
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,NaN,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.801420
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,NaN
9,Swelect Energy System Limited,NaN,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,NaN
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,NaN,NaN,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,NaN,NaN,NaN,NaN
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862

In [ ]:
## print python one time in every NaN column wise because the limit is 1.
df.fillna("Python", limit=1)

,SECURITY,TODAY - VILUME,AVG - VOLUME,CHANGE
0,Electrotherm,473907.0,9457.0,50.110003
1,N. B. I. Industrial Finance Company,5754.0,154.0,37.202586
2,Hindcon Private Limited,304759.0,9248.0,32.95345
3,GKW Limited,21375.0,711.0,30.049203
4,21st Century Management Service,110375.0,3879.0,Python
5,Alphageo (India) Limited,232755.0,8356.0,27.852613
6,Uniphos Enterprised Limited,162601.0,Python,21.528002
7,Jagsonpal Pharmaceutical Limited,1301892.0,73134.0,17.80142
8,SKM Egg Products Exportsn(India) Limited,1541130.0,87775.0,NaN
9,Swelect Energy System Limited,Python,12276.0,16.938733
10,Nahar Poly Film Limited,600043.0,38574.0,15.555297
11,Poddar Housing and Development,46040.0,3012.0,15.283833
12,Linc Limited,60551.0,4076.0,14.853673
13,Shiva Mills Limited,142943.0,10391.0,NaN
14,Pudumjee Paper Products Limited,1316284.0,102646.0,12.892143
15,Dynacons System & Solution,263641.0,23439.0,11.247963
16,Andrew Yule & Company & Limited,2408026.0,230048.0,10.641332
17,Laxmi Costpin Limited,NaN,NaN,10.443312
18,Rudrabhishek Enterprises Limited,660281.0,65700.0,10.049911
19,PIL ITALICA LIFESTYLE LIMITED,6864080.0,685602.0,10.017751
20,Bhagyanagar Properties Limited,305594.0,30596.0,NaN
21,Munjal Auto Industries Limited,705322.0,82307.0,8.569312
22,Python,NaN,NaN,NaN
23,Intense Technologies Limited,1252606.0,164644.0,7.607959
24,Indo Rama Synthetic (India) Limited,679204.0,89288.0,7.606862