In [1]:

my_tuple = ("Adhd",2,5,7,8)

my_tuple  =tuple([1,2,3,45])

In [2]:
print(type(my_tuple))

<class 'tuple'>

In [3]:
print(my_tuple)

(1, 2, 3, 45)

In [ ]:
# What is the difference between list and tuple ?
# List are mutable but tuples are immutable, meaning once the tuple is created u can't change it.

In [4]:

tuple_1 = ("Amit",2,5,7, [1,2,3], ('',0,True), 2,5,7)
print(len(tuple_1))

9

In [7]:
tuple_1[4]

[1, 2, 3]

In [8]:
tuple_1[4][1]

2

In [9]:
tuple_1[4][0]

1

In [13]:
tuple_1[4][-3]

1

In [14]:
print(tuple_1[4:6])

([1, 2, 3], ('', 0, True))

In [15]:
tuple_2 = ("kiwi", "banana", "mango")

In [16]:
tuple_2[1] = "apple"

TypeError: 'tuple' object does not support item assignment

In [17]:
tuple_2 = list(tuple_2)

In [18]:
tuple_2[1] = "apple"

tuple_2 = tuple(tuple_2)

print(tuple_2)

('kiwi', 'apple', 'mango')

In [19]:
del tuple_2[0]

TypeError: 'tuple' object doesn't support item deletion

In [20]:
del tuple_2

In [21]:
fruits = ("apple", "banana", "cherry", "brinjal")
(green, yellow, red, purple) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [22]:
for i in fruits:
    print(i)

apple
banana
cherry
brinjal

In [24]:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [25]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}