Tuples

Course Outline:

1. Introduction to Tuples

2. Creating Tuples

3. Accessing Tuple Elements

4. Tuple Operations

5. Immutable Nature of Tuples

6. Tuple Methods

7. king and Unpacking Tuples

8. Nested Tuples

9. Practical Examples and Common Errors

Introduction to Tuples

Explanation:

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [1]:
numbers=tuple({1,2,3,4,5,6})
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [6]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [8]:
print(numbers[2])
print(numbers[-1])

3
6

In [9]:
numbers[0:4]

(1, 2, 3, 4)

In [10]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [11]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [12]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [13]:
numbers *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [14]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Abhi"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Abhi', 3, 4, 5]

In [15]:
numbers[1]="Abhi"

TypeError: 'tuple' object does not support item assignment

In [16]:
numbers

(1, 2, 3, 4, 5, 6)

In [17]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [18]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14,5
print(packed_tuple)

(1, 'Hello', 3.14, 5)

In [20]:
##unpacking a tuple
a,b,*c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
[3.14, 5]

In [21]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [22]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [23]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [24]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [25]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

In [1]:
countries = ("spain", "Italy", "India", "England", "germany")
temp = list(countries)
temp.append("Russia")
temp.pop(3)
temp[2] = "Finland"
countries = tuple(temp)
print(countries)

('spain', 'Italy', 'Finland', 'germany', 'Russia')

In [2]:
countries1 = ("Bangladesh", "India", "China")
countries2 = ("Vietnam", "India", "China")
southAsia = countries1+countries2
print(southAsia)

('Bangladesh', 'India', 'China', 'Vietnam', 'India', 'China')

In [3]:
tup = (1, 2, 3, 4, 3, 7, 8)
num = tup.count(3)
print("The count of 3 in tuple ", num, "times")

The count of 3 in tuple  2 times

In [4]:
tup = (1, 2, 3, 4, 3, 7, 8, 9, 1)
num = tup.index(3, 3, 6)
print("The count of 3 in tuple is", num, "index")

The count of 3 in tuple is 4 index

In [5]:
# Length of the tuple
tuple = (1, 2, 3, 4, 5, 5, 6)
print(len(tuple))

7

Conclusion:
    
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are 
commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples 
effectively can improve the efficiency and readability of your Python code.