Module 3: Data Structures Assignments

Lesson 3.2: Tuples

Assignment 1: Creating and Accessing Tuples

Questio 1 : Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tpl = tuple(range(1, 11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Assignment 2: Accessing Tuple Elements

Question 2 : Print the first, middle, and last elements of the tuple created in Assignment 1.

In [2]:
print(f"First element: {tpl[0]}")
print(f"Middle element: {tpl[len(tpl) // 2]}")
print(f"Last element: {tpl[-1]}")

First element: 1
Middle element: 6
Last element: 10

Assignment 3: Tuple Slicing

Question 3 : Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [3]:
print(f"First three elements: {tpl[:3]}")
print(f"Last three elements: {tpl[-3:]}")
print(f"Elements from index 2 to 5: {tpl[2:6]}")

First three elements: (1, 2, 3)
Last three elements: (8, 9, 10)
Elements from index 2 to 5: (3, 4, 5, 6)

Assignment 4: Nested Tuples

Question 4 : Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [4]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column: 6

Assignment 5: Tuple Concatenation

Question 5 : Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [5]:
tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)
concatenated = tpl1 + tpl2
print(concatenated)

(1, 2, 3, 4, 5, 6)

Assignment 6: Tuple Methods

Question 6 : Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [6]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f"Occurrences of 4: {tpl.count(4)}")
print(f"Index of first occurrence of 2: {tpl.index(2)}")

Occurrences of 4: 3
Index of first occurrence of 2: 1

Assignment 7: Unpacking Tuples

Question 7 : Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [7]:
tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(a, b, c, d, e)

1 2 3 4 5

Assignment 8: Tuple Conversion

Question 8 : Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [8]:
lst = [1, 2, 3, 4, 5]
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

Assignment 9: Tuple of Tuples

Question 9 : Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [9]:
tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

Assignment 10: Tuple and List

Question 10 : Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [10]:
tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

Assignment 11: Tuple and String

Question 11 : Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [11]:
string = "hello"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

hello

Assignment 12: Tuple and Dictionary

Question 12 : Create a dictionary with tuple keys and integer values. Print the dictionary.

In [12]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

Assignment 13: Nested Tuple Iteration

Question 13 : Create a nested tuple and iterate over the elements, printing each element.

In [13]:
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

Assignment 14: Tuple and Set

Question 14 : Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [15]:

tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

In [14]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = tuple(set(tpl))
print(unique_set)

(1, 2, 3, 4, 5)

Assignment 15: Tuple Functions.

Question 15 : Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 5
Sum: 15