In [1]:
# union() :- In the union method same element not print.

s1 = {1, 2, 5, 6, 7}
s2 = {3, 6, 7, 4, 1}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}

In [2]:
# Intersect() :- It mean element in both s1 and s2 the number are same.

s1 = {1, 2, 5, 6, 7}
s2 = {3, 6, 7, 4, 1}
print(s1.intersection(s2))

{1, 6, 7}

In [3]:
# update() :- s1 value in s2

s1 = {1, 2, 5, 6, 7}
s2 = {3, 6, 7, 4, 1}
s1.update(s2)
print(s1, s2)

{1, 2, 3, 4, 5, 6, 7} {1, 3, 4, 6, 7}

In [4]:
# union()

cities1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities1.union(cities2)
print(cities3)

{'Madrid', 'Tokyo', 'Delhi', 'Kabul', 'Seoul', 'Berlin'}

In [5]:
# Intersection()

cities1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities1.intersection(cities2)
print(cities3)

{'Madrid', 'Tokyo'}

In [6]:
# symmetric_difference() :- Not print the common value.

cities1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities1.symmetric_difference(cities2)
print(cities3)

{'Kabul', 'Delhi', 'Seoul', 'Berlin'}

In [7]:
# difference() :- The value which are difference in both.

cities1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi"}
cities3 = cities1.difference(cities2)
print(cities3)

{'Berlin', 'Madrid', 'Tokyo'}

In [16]:
cities1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi"}
cities3 = cities2.difference(cities1)
print(cities3)

{'Kabul', 'Seoul'}

In [9]:
# isdisjoint() :- when both the set are differance this is called disjoint.

cities1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi1", "Benglore"}
print(cities1.isdisjoint(cities2))

True

In [10]:
# isuperset() :- The issuperset() method check if all the item of a participant set are present in the orignal set. It return true if all the item are present, else it return false.

cities1 = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo"}
print(cities1.issuperset(cities2))
cities3 = {"Tokyo", "Madrid", "Delhi"}
print(cities1.issuperset(cities3))
print(cities3.issubset(cities1))

True
True
True

In [11]:
# add() :- add method add an element into a set

cities = {"Tokyo", "Madrid", "Tokyo", "Berlin", "Delhi"}
cities.add("Helsinki")
print(cities)

{'Madrid', 'Tokyo', 'Delhi', 'Helsinki', 'Berlin'}

In [12]:
# remove() :- 

cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.remove("Tokyo")
print(cities)

{'Delhi', 'Berlin', 'Madrid'}

In [13]:
# discard() :-

cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.discard("Tokyo2")
print(cities)

{'Delhi', 'Berlin', 'Madrid', 'Tokyo'}

In [14]:
# pop() :- These element remove the last element of the set.

cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.pop()
print(cities)

{'Berlin', 'Madrid', 'Tokyo'}

In [15]:
# del :- del is not a method, rather it is  a keyword which deletes the set entirely.

cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
del cities
print(cities)

NameError: name 'cities' is not defined